@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/Wojdak/Url-Shortener" target="_blank"><img src="GitHub_Logo.png" class="github-logo w-100" /></a>
        </div>

        <article class="content px-4 text-center">
            @Body
        </article>
    </main>
</div>
